<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
    	<img src="img/carosel/carpetRepairAfter.jpg" alt="">
    	<div class="carousel-caption">
            <h4>Carpet Repair</h4>
        	<p>Here is one way to repair carpet.</p>
        </div>
    </div>
    <div class="item">
    	<img src="img/carosel/laminateInstall.jpg" alt="">
    	<div class="carousel-caption">
            <h4>Laminate Install</h4>
        	<p>How to install laminate.</p>
        </div>
    </div>
    <div class="item">
    	<img src="img/carosel/showerRepairBefore.jpg" alt="">
    	<div class="carousel-caption">
            <h4>Shower Repair</h4>
        	<p>A typical shower repair.</p>
        </div>
    </div>
  </div>
  
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>